      	#time {
      		text-align: right;
      	}

        #bikestationslist{
          padding-left: 30px;
        }

      	#station-map { 
      		height:650px;
      	}

        .bike-stations-dropdown{
          max-width:100%;
        }

    /*
     * Station Map Popup Window *
     */
     #station-map table tbody tr th, table tbody tr td {font-size: 14px; font-family: GtPressuraRegular,sans-serif; font-weight: bold;}
     #station-map div.station-window { overflow: hidden; text-align:center }
     #station-map div.station-window h2 { color:#0070CD; margin:0px 0px 10px 0px; letter-spacing:-0.3px; font-weight: bold; font-size:19px;}
     .chrome #station-map div.station-window h2 { letter-spacing:-1.5px; } 
     #station-map div.station-window table { margin:0px; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; border:none; min-width:0px; width:auto; }
     #station-map div.station-window table th { background:none; border:none; text-shadow:none; filter:none; }   
     #station-map div.station-window table tbody th { color:#0070CD; vertical-align:middle; padding:5px; text-align:right; }
     #station-map div.station-window table tbody td { color:#82C7BC; text-align:center; padding:5px 0px 5px 0px; border:none;  }
     #station-map div.station-window table tbody tr { background: none; }
     #station-map div.station-data { width:150px; margin:0 auto; }

